   
	


    <div class="invoice container justify-content-center mx-auto  mt-5 mb-5 pt-5">
        <div>
            <h3 class="invoice-header">Invoice</h3>
        </div>
		<div class="row">
			
			<div class="col-6">
				<h4>{{ userName }}</h4>
				<p> {{ userEmail }}</p>
			</div>
            <div class="col-6 flex justify-content-right">
				<h5>Order Id: #112345</h5>
				<p>Date: {{ currentDate | date: 'dd/MM/yyyy' }}</p>
			</div>
		</div>
        
        <div class="invoice-body">
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th style="background-color: darkcyan;">Item</th>
                        <th style="background-color: darkcyan;">Description</th>
                        <th style="background-color: darkcyan;">Quantity</th>
						<th style="background-color: darkcyan;">price</th>
                        <th style="background-color: darkcyan;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Insert invoice items dynamically here -->
                    <tr *ngFor="let item of invoiceData">
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.productName }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.description }}</td>
						<td style="background-color: rgb(229, 226, 226);">{{ item.quantity }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.price }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.totalValue}}</td>
                    </tr>
                    <!-- Add more rows for additional items -->
                </tbody>
            </table>
        </div>
        <div class="invoice-footer mb-5 pr-5 px-5" style="font-size: 22px;">
            <p>Total: &#8377; {{totalPrice}}</p>
        </div>
    </div>
