body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.invoice {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
}
.invoice-header {
    text-align: center;
    margin-bottom: 20px;
    color:  black; 
    background-color: rgb(229, 226, 226);
    display: grid;
    justify-items: center;
    margin-left: 3%; 
    margin-right: 3% ;
    border:  1px solid #ccc
}
.invoice-body {
    margin-bottom: 20px;
}
.invoice-table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
}
.invoice-table th,
.invoice-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.invoice-footer {
    text-align: right;
}

.col-6.flex.justify-content-right {
    justify-items: end;
    display: grid;
    padding-right: 7%;
  }

.col-6{
    padding-left: 7%;
}

.row {
    margin-bottom: 8%;
    margin-top: 3%;
  }