   
	


    <div class="invoice container justify-content-center mx-auto  mt-5 mb-5 pt-5">
		<div class="col">
			
			<div class="invoice-header ">
				<h1>Invoice</h1>
				<p>Date: {{ currentDate | date: 'dd/MM/yyyy' }}</p>
			</div>
		</div>
        
        <div class="invoice-body">
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th style="background-color: darkcyan;">Item</th>
                        <th style="background-color: darkcyan;">Description</th>
                        <th style="background-color: darkcyan;">Quantity</th>
						<th style="background-color: darkcyan;">price</th>
                        <th style="background-color: darkcyan;">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Insert invoice items dynamically here -->
                    <tr *ngFor="let item of invoiceData">
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.productName }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.description }}</td>
						<td style="background-color: rgb(229, 226, 226);">{{ item.quantity }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.product.price }}</td>
                        <td style="background-color: rgb(229, 226, 226);">{{ item.totalValue}}</td>
                    </tr>
                    <!-- Add more rows for additional items -->
                </tbody>
            </table>
        </div>
        <div class="invoice-footer mb-5 pr-5 px-5" style=" border: 0.5px solid darkcyan; font-size: 22px;">
            <p>Total: &#8377; {{totalPrice}}</p>
        </div>
    </div>
